<header>
    <h1>Austin <span class="light-font">Jenchi</span></h1>
    <nav>
        <ul>
            <li><a href="{% if page.title == 'About' %}#{% else %}{{ site.baseurl }}{% endif %}">About Me</a></li>
            <li><a href="{% if page.title == 'Projects' %}#{% else %}{{ site.baseurl }}projects{% endif %}">Projects</a></li>
        </ul>

        <ul>
            <li><a href="https://github.com/timtim17"><i class="fab fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/austinjenchi"><i class="fab fa-linkedin"></i></a></li>
            <li><i class="fab fa-discord">
                <span id="discord-floater">austinj9#5465</span>
            </i></li>
            <li><a href="https://twitter.com/austin99099"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </nav>
</header>
