.anim_rotate:hover{
	-webkit-animation:spin 2s linear infinite forwards alternate;
     -moz-animation:spin 2s linear infinite forwards alternate;
	-o-animation:spin 2s linear infinite forwards alternate;
     animation:spin 2s linear infinite forwards alternate;
}

@keyframes spin { 100% { transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }