<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Austin Jenchi | {{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}styles/main.css">
        {% if page.styles %}
            {% for style in page.styles %}
                <link rel="stylesheet" href="{{ style }}">
            {% endfor %}
        {% endif %}
        <script src="https://kit.fontawesome.com/3b143cc8d1.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {{ content }}

        {% if page.scripts %}
            {% for script in page.scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>
