---
layout: basic
---
{% include header.html %}

<main>
    {% if page.hero_img %}
        <section class="hero" style="background-image: url('{{ page.hero_img }}');{% if page.hero_height %}height: {{ page.hero_height }};{% endif %}"></section>
        {% if page.hero_contents %}
            <div {% if page.hero_height %}style="height: {{ page.hero_height }};"{% endif %} class="hero-contents">
                {% include {{ page.hero_contents }} %}
            </div>
        {% endif %}
    {% endif %}

    {{ content }}

    {% include footer.html %}
</main>
