body {
    background-color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16pt;
    margin: 16px auto 0;
    width: 90vw;
}

body, nav a, section.highlight {
    color: #ffffff;
}

header, section, footer {
    padding: 8px;
}

header {
    align-items: center;
    /* background-color: #272121; */
    background-color: rgba(39, 33, 33, 0.3);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 4;
}

header h1 {
    cursor: default;
    display: inline;
    font-size: 18pt;
    font-weight: 900;
    margin-right: 8px;
    text-transform: uppercase;
}

nav {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 16pt;
    height: 70px;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin: 0 4px;
}

nav a[href="#"] {  /* current page */
    font-weight: 700;
}

a {
    text-decoration: none;
    transition: border-bottom-color 100ms ease;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom-color: #ffffff;
}

main > section, .card {
    background-color: #f3f3f3;
}

main > section {
    color: #222222;
    position: relative;
    z-index: 3;
}

section.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    height: 25vw;
    margin-top: -85px;
    transition: filter 500ms ease;
    z-index: 1;
}

section.hero:hover {
    filter: blur(0);
}

section.hero + section::before, section.angle::before, section.angle::after {
    background-color: inherit;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    transform-origin: 0;
    z-index: 2;
}

section.hero + section::before {
    box-shadow: 1px -9px 8px 0px rgba(0, 0, 0, 0.75);
    height: 2.4vw;
    top: -2.4vw;
    transform: skewY(1.5deg);
}

section.hero + section {
    padding-top: 2vw;
}

section.angle::before {
    top: 0;
}

section.angle::after {
    bottom: -3vw;
}

section.angle::before, section.angle::after {
    height: 3.1vw;
    transform: skewY(-2deg);
}

section.angle {
    padding: 3.5vw 8px;
}

.before-angle {
    padding-bottom: 3.5vw;
}

section.angle + * {
    padding-top: 4vw;
}

section.highlight {
    background-color: #ff8d33;
}

footer {
    background-color: #3a5e75;
    margin-bottom: 16px;
}

.light-font {
    font-weight: 300;
}

.card {
    border: solid 2px #848484;
    border-radius: 5px;
    box-shadow: 0px -1px 10px black;
    margin: 8px;
    min-width: 200px;
}

.flex-cards {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-cards .card {
    flex-grow: 1;
}
